.container {
    width: 80%;
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.dialogoContainer {
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    background-color: white;
}

.dialogoTitulo {
    margin-left: 5px;
}

.dialogo {
    overflow-y: auto;
    width: 100%;
    height: 350px;
    background-color: white;
}

.pagetitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.input {
    background-color: rgb(242, 242, 242);
    border: 1px solid rgb(204, 204, 204);
    font-size: 16px;
    height: 40px;
    width: calc(100% + 2px);
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.subtitle {
    font-size: 20px;
}

.message {
    word-wrap: break-word;
    font-size: 16px;
    margin-left: 5px;
}

.operador {
    color: green;
}

.cliente {
    color: orange;
}
